<!DOCTYPE>
<html lang="en" ng-app="weatherForecast">
    <meta charset="utf-8">
    <head>
        <title name="Pooja's website!">
        </title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.1/angular-resource.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
        <script src="index.js"></script>
    </head>
    <body ng-controller="mainController">
        <div class="container" data-ng-init="init()">
        <header class="header">
            <a class="link-title" href="index.html">Enonic Weather Forecast</a>
        </header>
        <nav class="menu">
            <a href="index.html">Home</a> &nbsp; &nbsp; &nbsp;
        </nav>

        <accordion close-others="oneAtATime">
            <accordion-group is-open="true" ng-repeat="obj in myArray">
                <accordion-heading ng-if="obj">
                {{obj.name}}
                </accordion-heading>
                
                <div ng-if="obj">
                    <ul title="Weather Details">
                        <li ng-repeat="weather in obj.weather">{{weather.main}}
                            <br>
                            {{weather.description}}
                            <br>
                            <div ng-if="weather">
                                    <img ng-if="weather.icon" src="http://openweathermap.org/img/w/{{weather.icon}}.png">
                            </div>

                        </li>
                        </ul>
                        <ul>
                        <ul title="Temperature details">{{obj.main.temp}} &#8451;
                                <br>                          
                        </ul>
                            <ul>
                                    <li>{{obj.main.temp_max}} &#8451;
                                            <br>                          
                                        </li>
                                        <li>{{obj.main.temp_min}} &#8451;
                                                <br>                          
                                            </li>                         
                            </ul>
                            <ul>
                                    <li>{{currentTime}}
                                            <br>                          
                                        </li>

                            </ul>                 
                    </ul>
                </div>
            </accordion-group>
        </accordion>
       <footer>
           &copy; 2018 Weather forecast &nbsp; Designed by Pooja More
       </footer>
        </div>
    </body>
</html>